@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

.discord-activity {
    position: absolute;
    display: flex;
    right: 10%;
    z-index: 3;
    width: 25%;
    height: 25%;
    color: white;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1em;
}

.username {
    position: absolute;
    right: 0%;
    display: flex;
    justify-content: left;
    align-items: start;
    width: max-content;
}

.discord-pfp {
    position: absolute;
    top: 50%;
    right: 65%;
    border-radius: 50%;
    width: 25%;
    transform-origin: 0% 100%;
}