@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
:root {
  --card-nonbs-height: 65vh;
  --card-nonbs-width: calc(var(--card-nonbs-height) / 1.5);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-nonbs {
  background: #191c29;
  width: var(--card-nonbs-width);
  height: var(--card-nonbs-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5em;
  color: rgb(0, 148, 216);
  font-family: "Poppins";
}

.card-nonbs::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #8bff5d, #3ce37c 43%, #00c271);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card-nonbs::after {
  position: absolute;
  content: "";
  top: calc(var(--card-nonbs-height) - 18);
  left: 0;
  right: 0;
  z-index: -1;
  height: calc(var(--card-nonbs-height) * 1.25);
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-nonbs-height) / 6));
  background-image: linear-gradient(var(--rotate), #8bff5d, #3ce37c 43%, #00c271);
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

.break {
  flex-basis: 100%;
  height: 0;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
:root {
  --primary-color: hsl(196, 78%, 61%);
  --secondary-color: hsl(217, 15%, 83%);
  --success-color: hsl(165, 58%, 55%);
  --info-color: hsl(214, 79%, 65%);
  --warning-color: hsl(43, 100%, 66%);
  --danger-color: hsl(354, 81%, 63%);
  --primary-color-darker: hsl(196, 68%, 54%);
  --secondary-color-darker: hsl(215, 13%, 70%);
  --success-color-darker: hsl(165, 55%, 48%);
  --info-color-darker: hsl(214, 68%, 58%);
  --warning-color-darker: hsl(39, 97%, 62%);
  --danger-color-darker: hsl(354, 67%, 56%);
  --primary-color-lighter: hsl(196, 78%, 81%);
  --secondary-color-lighter: hsl(214, 16%, 92%);
  --success-color-lighter: hsl(165, 58%, 75%);
  --info-color-lighter: hsl(214, 79%, 85%);
  --warning-color-lighter: hsl(43, 100%, 86%);
  --danger-color-lighter: hsl(354, 81%, 83%);
  --secondary-color-darkest: hsl(215, 11%, 30%);
  --secondary-color-lightest: hsl(220, 1%, 98%);
}

body {
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 10;
  width: 72.5%;
  height: 90%;
  transform: rotate(-45deg);
  filter: blur(2px);
}

.star {
  --star-color: var(--success-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 15s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 1000px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.61em;
  --top-offset: 44.79vh;
  --fall-duration: 9.69s;
  --fall-delay: 2.108s;
}
.star:nth-child(2) {
  --star-tail-length: 7.13em;
  --top-offset: 62.64vh;
  --fall-duration: 9.413s;
  --fall-delay: 2.79s;
}
.star:nth-child(3) {
  --star-tail-length: 6.08em;
  --top-offset: 0.6vh;
  --fall-duration: 11.821s;
  --fall-delay: 4.79s;
}
.star:nth-child(4) {
  --star-tail-length: 5.06em;
  --top-offset: 89.56vh;
  --fall-duration: 9.081s;
  --fall-delay: 4.366s;
}
.star:nth-child(5) {
  --star-tail-length: 5.15em;
  --top-offset: 74.97vh;
  --fall-duration: 11.809s;
  --fall-delay: 4.587s;
}
.star:nth-child(6) {
  --star-tail-length: 5.04em;
  --top-offset: 57.27vh;
  --fall-duration: 10.438s;
  --fall-delay: 0.193s;
}
.star:nth-child(7) {
  --star-tail-length: 5.51em;
  --top-offset: 19.22vh;
  --fall-duration: 11.466s;
  --fall-delay: 3.268s;
}
.star:nth-child(8) {
  --star-tail-length: 7.09em;
  --top-offset: 9.71vh;
  --fall-duration: 6.565s;
  --fall-delay: 2.823s;
}
.star:nth-child(9) {
  --star-tail-length: 6.67em;
  --top-offset: 44.61vh;
  --fall-duration: 9.241s;
  --fall-delay: 2.567s;
}
.star:nth-child(10) {
  --star-tail-length: 7.19em;
  --top-offset: 77.66vh;
  --fall-duration: 10.154s;
  --fall-delay: 4.999s;
}
.star:nth-child(11) {
  --star-tail-length: 6.19em;
  --top-offset: 79.59vh;
  --fall-duration: 6.795s;
  --fall-delay: 0.237s;
}
.star:nth-child(12) {
  --star-tail-length: 7.28em;
  --top-offset: 61.68vh;
  --fall-duration: 11.636s;
  --fall-delay: 4.875s;
}
.star:nth-child(13) {
  --star-tail-length: 5.2em;
  --top-offset: 89.22vh;
  --fall-duration: 6.653s;
  --fall-delay: 0.46s;
}
.star:nth-child(14) {
  --star-tail-length: 7.28em;
  --top-offset: 5.89vh;
  --fall-duration: 11.904s;
  --fall-delay: 2.384s;
}
.star:nth-child(15) {
  --star-tail-length: 6.83em;
  --top-offset: 53.74vh;
  --fall-duration: 11.95s;
  --fall-delay: 4.871s;
}
.star:nth-child(16) {
  --star-tail-length: 7.1em;
  --top-offset: 30.18vh;
  --fall-duration: 6.033s;
  --fall-delay: 1.924s;
}
.star:nth-child(17) {
  --star-tail-length: 5.94em;
  --top-offset: 33.68vh;
  --fall-duration: 10.301s;
  --fall-delay: 4.357s;
}
.star:nth-child(18) {
  --star-tail-length: 6.76em;
  --top-offset: 14.71vh;
  --fall-duration: 7.015s;
  --fall-delay: 4.326s;
}
.star:nth-child(19) {
  --star-tail-length: 6.1em;
  --top-offset: 9.32vh;
  --fall-duration: 9.276s;
  --fall-delay: 4.098s;
}
.star:nth-child(20) {
  --star-tail-length: 5.32em;
  --top-offset: 66.26vh;
  --fall-duration: 6.452s;
  --fall-delay: 2.413s;
}
.star:nth-child(21) {
  --star-tail-length: 5.44em;
  --top-offset: 31.48vh;
  --fall-duration: 8.138s;
  --fall-delay: 2.368s;
}
.star:nth-child(22) {
  --star-tail-length: 6.46em;
  --top-offset: 17.1vh;
  --fall-duration: 8.017s;
  --fall-delay: 1.119s;
}
.star:nth-child(23) {
  --star-tail-length: 6.04em;
  --top-offset: 15.27vh;
  --fall-duration: 7.385s;
  --fall-delay: 3.107s;
}
.star:nth-child(24) {
  --star-tail-length: 6.47em;
  --top-offset: 69.25vh;
  --fall-duration: 7.987s;
  --fall-delay: 4.229s;
}
.star:nth-child(25) {
  --star-tail-length: 5.42em;
  --top-offset: 68.67vh;
  --fall-duration: 9.987s;
  --fall-delay: 4.963s;
}
.star:nth-child(26) {
  --star-tail-length: 7.04em;
  --top-offset: 21.97vh;
  --fall-duration: 7.378s;
  --fall-delay: 0.38s;
}
.star:nth-child(27) {
  --star-tail-length: 5.14em;
  --top-offset: 38.44vh;
  --fall-duration: 6.39s;
  --fall-delay: 4.993s;
}
.star:nth-child(28) {
  --star-tail-length: 6.74em;
  --top-offset: 90.06vh;
  --fall-duration: 8.621s;
  --fall-delay: 3.579s;
}
.star:nth-child(29) {
  --star-tail-length: 6.68em;
  --top-offset: 38.01vh;
  --fall-duration: 7.941s;
  --fall-delay: 3.464s;
}
.star:nth-child(30) {
  --star-tail-length: 5.34em;
  --top-offset: 80.74vh;
  --fall-duration: 7.937s;
  --fall-delay: 4.075s;
}
.star:nth-child(31) {
  --star-tail-length: 7.21em;
  --top-offset: 31.57vh;
  --fall-duration: 11.035s;
  --fall-delay: 2.028s;
}
.star:nth-child(32) {
  --star-tail-length: 6.29em;
  --top-offset: 8.74vh;
  --fall-duration: 7.909s;
  --fall-delay: 4.214s;
}
.star:nth-child(33) {
  --star-tail-length: 7.35em;
  --top-offset: 16.5vh;
  --fall-duration: 8.667s;
  --fall-delay: 4.458s;
}
.star:nth-child(34) {
  --star-tail-length: 5.47em;
  --top-offset: 100vh;
  --fall-duration: 11.314s;
  --fall-delay: 3.014s;
}
.star:nth-child(35) {
  --star-tail-length: 5.84em;
  --top-offset: 23.94vh;
  --fall-duration: 11.806s;
  --fall-delay: 4.979s;
}
.star:nth-child(36) {
  --star-tail-length: 5.67em;
  --top-offset: 32.06vh;
  --fall-duration: 9.247s;
  --fall-delay: 2.388s;
}
.star:nth-child(37) {
  --star-tail-length: 5.06em;
  --top-offset: 42.65vh;
  --fall-duration: 8.67s;
  --fall-delay: 0.505s;
}
.star:nth-child(38) {
  --star-tail-length: 7.36em;
  --top-offset: 94.05vh;
  --fall-duration: 6.883s;
  --fall-delay: 4.741s;
}
.star:nth-child(39) {
  --star-tail-length: 5.05em;
  --top-offset: 30.59vh;
  --fall-duration: 7.549s;
  --fall-delay: 2.391s;
}
.star:nth-child(40) {
  --star-tail-length: 6.6em;
  --top-offset: 12.79vh;
  --fall-duration: 10.578s;
  --fall-delay: 4.074s;
}
.star:nth-child(41) {
  --star-tail-length: 6.35em;
  --top-offset: 22.34vh;
  --fall-duration: 10.805s;
  --fall-delay: 1.112s;
}
.star:nth-child(42) {
  --star-tail-length: 5.36em;
  --top-offset: 2.11vh;
  --fall-duration: 11.694s;
  --fall-delay: 1.036s;
}
.star:nth-child(43) {
  --star-tail-length: 7.17em;
  --top-offset: 12.77vh;
  --fall-duration: 8.239s;
  --fall-delay: 4.291s;
}
.star:nth-child(44) {
  --star-tail-length: 7.35em;
  --top-offset: 6.3vh;
  --fall-duration: 10.175s;
  --fall-delay: 4.29s;
}
.star:nth-child(45) {
  --star-tail-length: 6.13em;
  --top-offset: 25.69vh;
  --fall-duration: 11.759s;
  --fall-delay: 3.85s;
}
.star:nth-child(46) {
  --star-tail-length: 5.05em;
  --top-offset: 46.68vh;
  --fall-duration: 8.642s;
  --fall-delay: 0.216s;
}
.star:nth-child(47) {
  --star-tail-length: 6.52em;
  --top-offset: 74.66vh;
  --fall-duration: 9.874s;
  --fall-delay: 3.893s;
}
.star:nth-child(48) {
  --star-tail-length: 5.71em;
  --top-offset: 67.82vh;
  --fall-duration: 6.829s;
  --fall-delay: 1.191s;
}
.star:nth-child(49) {
  --star-tail-length: 6.21em;
  --top-offset: 5.55vh;
  --fall-duration: 7.489s;
  --fall-delay: 0.635s;
}
.star:nth-child(50) {
  --star-tail-length: 6.53em;
  --top-offset: 93.39vh;
  --fall-duration: 9.138s;
  --fall-delay: 3.97s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
body {
  font-family: "Poppins" sans-serif;
}

.content {
  color: white;
}

.text-teal-light {
  color: tint-color(#20c997, 40%);
}

#nav-opacity {
  background: rgba(var(--bs-dark-rgb), 0.5) !important;
}

/*# sourceMappingURL=style.css.map */
