@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
:root {
  --card-nonbs-height: 65vh;
  --card-nonbs-width: calc(var(--card-nonbs-height) / 1.5);
}

.card-nonbs {
  background: #191c29;
  width: var(--card-nonbs-width);
  height: var(--card-nonbs-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5em;
  color: rgb(0, 148, 216);
  font-family: "Poppins";
}

.card-nonbs::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #8bff5d, #3ce37c 43%, #00c271);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card-nonbs::after {
  position: absolute;
  content: "";
  top: calc(var(--card-nonbs-height) - 18);
  left: 0;
  right: 0;
  z-index: -1;
  height: calc(var(--card-nonbs-height) * 1.25);
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-nonbs-height) / 6));
  background-image: linear-gradient(var(--rotate), #8bff5d, #3ce37c 43%, #00c271);
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

.break {
  flex-basis: 100%;
  height: 0;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
:root {
  --primary-color: hsl(196, 78%, 61%);
  --secondary-color: hsl(217, 15%, 83%);
  --success-color: hsl(165, 58%, 55%);
  --info-color: hsl(214, 79%, 65%);
  --warning-color: hsl(43, 100%, 66%);
  --danger-color: hsl(354, 81%, 63%);
  --primary-color-darker: hsl(196, 68%, 54%);
  --secondary-color-darker: hsl(215, 13%, 70%);
  --success-color-darker: hsl(165, 55%, 48%);
  --info-color-darker: hsl(214, 68%, 58%);
  --warning-color-darker: hsl(39, 97%, 62%);
  --danger-color-darker: hsl(354, 67%, 56%);
  --primary-color-lighter: hsl(196, 78%, 81%);
  --secondary-color-lighter: hsl(214, 16%, 92%);
  --success-color-lighter: hsl(165, 58%, 75%);
  --info-color-lighter: hsl(214, 79%, 85%);
  --warning-color-lighter: hsl(43, 100%, 86%);
  --danger-color-lighter: hsl(354, 81%, 83%);
  --secondary-color-darkest: hsl(215, 11%, 30%);
  --secondary-color-lightest: hsl(220, 1%, 98%);
}

body {
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 10;
  width: 75%;
  height: 100%;
  transform: rotate(-45deg);
  filter: blur(2px);
}

.star {
  --star-color: var(--success-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 15s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 1000px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.82em;
  --top-offset: 5.31vh;
  --fall-duration: 8.084s;
  --fall-delay: 4.427s;
}
.star:nth-child(2) {
  --star-tail-length: 6.23em;
  --top-offset: 62.41vh;
  --fall-duration: 11.854s;
  --fall-delay: 1.483s;
}
.star:nth-child(3) {
  --star-tail-length: 6.12em;
  --top-offset: 82.68vh;
  --fall-duration: 7.264s;
  --fall-delay: 2.572s;
}
.star:nth-child(4) {
  --star-tail-length: 6.41em;
  --top-offset: 67.95vh;
  --fall-duration: 6.169s;
  --fall-delay: 1.322s;
}
.star:nth-child(5) {
  --star-tail-length: 6.26em;
  --top-offset: 50.2vh;
  --fall-duration: 9.476s;
  --fall-delay: 0.609s;
}
.star:nth-child(6) {
  --star-tail-length: 7.17em;
  --top-offset: 17.3vh;
  --fall-duration: 11.83s;
  --fall-delay: 3.278s;
}
.star:nth-child(7) {
  --star-tail-length: 5.56em;
  --top-offset: 59.66vh;
  --fall-duration: 11.132s;
  --fall-delay: 0.967s;
}
.star:nth-child(8) {
  --star-tail-length: 7.15em;
  --top-offset: 13.47vh;
  --fall-duration: 11.221s;
  --fall-delay: 2.756s;
}
.star:nth-child(9) {
  --star-tail-length: 7.5em;
  --top-offset: 64.78vh;
  --fall-duration: 7.969s;
  --fall-delay: 1.662s;
}
.star:nth-child(10) {
  --star-tail-length: 6.91em;
  --top-offset: 77.22vh;
  --fall-duration: 9.652s;
  --fall-delay: 1.238s;
}
.star:nth-child(11) {
  --star-tail-length: 6.03em;
  --top-offset: 50.23vh;
  --fall-duration: 9.734s;
  --fall-delay: 0.314s;
}
.star:nth-child(12) {
  --star-tail-length: 6.29em;
  --top-offset: 77.96vh;
  --fall-duration: 8.142s;
  --fall-delay: 0.083s;
}
.star:nth-child(13) {
  --star-tail-length: 7.34em;
  --top-offset: 39.03vh;
  --fall-duration: 11.437s;
  --fall-delay: 4.243s;
}
.star:nth-child(14) {
  --star-tail-length: 5.5em;
  --top-offset: 7.83vh;
  --fall-duration: 8.996s;
  --fall-delay: 4.066s;
}
.star:nth-child(15) {
  --star-tail-length: 6.56em;
  --top-offset: 22.88vh;
  --fall-duration: 7.531s;
  --fall-delay: 4.459s;
}
.star:nth-child(16) {
  --star-tail-length: 6.02em;
  --top-offset: 97.09vh;
  --fall-duration: 6.222s;
  --fall-delay: 2.785s;
}
.star:nth-child(17) {
  --star-tail-length: 5.68em;
  --top-offset: 93.48vh;
  --fall-duration: 8.74s;
  --fall-delay: 0.014s;
}
.star:nth-child(18) {
  --star-tail-length: 6.58em;
  --top-offset: 53.33vh;
  --fall-duration: 7.495s;
  --fall-delay: 0.082s;
}
.star:nth-child(19) {
  --star-tail-length: 7.42em;
  --top-offset: 74.52vh;
  --fall-duration: 11.615s;
  --fall-delay: 3.552s;
}
.star:nth-child(20) {
  --star-tail-length: 5.68em;
  --top-offset: 24.82vh;
  --fall-duration: 10.419s;
  --fall-delay: 1.081s;
}
.star:nth-child(21) {
  --star-tail-length: 5.21em;
  --top-offset: 97.02vh;
  --fall-duration: 6.176s;
  --fall-delay: 3.346s;
}
.star:nth-child(22) {
  --star-tail-length: 6.8em;
  --top-offset: 99.21vh;
  --fall-duration: 10.113s;
  --fall-delay: 1.345s;
}
.star:nth-child(23) {
  --star-tail-length: 6.58em;
  --top-offset: 99.68vh;
  --fall-duration: 10.186s;
  --fall-delay: 3.22s;
}
.star:nth-child(24) {
  --star-tail-length: 7.49em;
  --top-offset: 67.66vh;
  --fall-duration: 6.145s;
  --fall-delay: 2.622s;
}
.star:nth-child(25) {
  --star-tail-length: 6.13em;
  --top-offset: 8.07vh;
  --fall-duration: 6.888s;
  --fall-delay: 0.789s;
}
.star:nth-child(26) {
  --star-tail-length: 5.53em;
  --top-offset: 5.39vh;
  --fall-duration: 11.368s;
  --fall-delay: 3.806s;
}
.star:nth-child(27) {
  --star-tail-length: 5.68em;
  --top-offset: 19.3vh;
  --fall-duration: 8.053s;
  --fall-delay: 0.732s;
}
.star:nth-child(28) {
  --star-tail-length: 5.62em;
  --top-offset: 14.08vh;
  --fall-duration: 8.883s;
  --fall-delay: 0.347s;
}
.star:nth-child(29) {
  --star-tail-length: 6.77em;
  --top-offset: 18.29vh;
  --fall-duration: 9.401s;
  --fall-delay: 2.72s;
}
.star:nth-child(30) {
  --star-tail-length: 5.04em;
  --top-offset: 78.53vh;
  --fall-duration: 10.631s;
  --fall-delay: 4.435s;
}
.star:nth-child(31) {
  --star-tail-length: 6.71em;
  --top-offset: 36.8vh;
  --fall-duration: 7.571s;
  --fall-delay: 0.057s;
}
.star:nth-child(32) {
  --star-tail-length: 5.56em;
  --top-offset: 16.26vh;
  --fall-duration: 8.909s;
  --fall-delay: 4.48s;
}
.star:nth-child(33) {
  --star-tail-length: 6.25em;
  --top-offset: 16.07vh;
  --fall-duration: 9.061s;
  --fall-delay: 2.319s;
}
.star:nth-child(34) {
  --star-tail-length: 6.56em;
  --top-offset: 88.69vh;
  --fall-duration: 10.642s;
  --fall-delay: 4.044s;
}
.star:nth-child(35) {
  --star-tail-length: 7.11em;
  --top-offset: 29.05vh;
  --fall-duration: 10.067s;
  --fall-delay: 1.788s;
}
.star:nth-child(36) {
  --star-tail-length: 7.3em;
  --top-offset: 51.16vh;
  --fall-duration: 7.445s;
  --fall-delay: 2.672s;
}
.star:nth-child(37) {
  --star-tail-length: 5.64em;
  --top-offset: 55.06vh;
  --fall-duration: 9.052s;
  --fall-delay: 2.662s;
}
.star:nth-child(38) {
  --star-tail-length: 5.92em;
  --top-offset: 54.49vh;
  --fall-duration: 8.723s;
  --fall-delay: 2.572s;
}
.star:nth-child(39) {
  --star-tail-length: 6.62em;
  --top-offset: 60.08vh;
  --fall-duration: 9.243s;
  --fall-delay: 3.145s;
}
.star:nth-child(40) {
  --star-tail-length: 7.49em;
  --top-offset: 82.87vh;
  --fall-duration: 6.36s;
  --fall-delay: 2.374s;
}
.star:nth-child(41) {
  --star-tail-length: 5.87em;
  --top-offset: 27.8vh;
  --fall-duration: 8s;
  --fall-delay: 1.943s;
}
.star:nth-child(42) {
  --star-tail-length: 5.68em;
  --top-offset: 51.6vh;
  --fall-duration: 8.132s;
  --fall-delay: 4.747s;
}
.star:nth-child(43) {
  --star-tail-length: 7em;
  --top-offset: 55.25vh;
  --fall-duration: 9.165s;
  --fall-delay: 4.912s;
}
.star:nth-child(44) {
  --star-tail-length: 6.84em;
  --top-offset: 37.62vh;
  --fall-duration: 7.836s;
  --fall-delay: 1.982s;
}
.star:nth-child(45) {
  --star-tail-length: 7.35em;
  --top-offset: 86.55vh;
  --fall-duration: 10.146s;
  --fall-delay: 2.287s;
}
.star:nth-child(46) {
  --star-tail-length: 6.93em;
  --top-offset: 44.08vh;
  --fall-duration: 8.601s;
  --fall-delay: 2.788s;
}
.star:nth-child(47) {
  --star-tail-length: 5.23em;
  --top-offset: 86.11vh;
  --fall-duration: 6.236s;
  --fall-delay: 4.222s;
}
.star:nth-child(48) {
  --star-tail-length: 7.29em;
  --top-offset: 33.24vh;
  --fall-duration: 11.632s;
  --fall-delay: 2.106s;
}
.star:nth-child(49) {
  --star-tail-length: 6.08em;
  --top-offset: 16.49vh;
  --fall-duration: 9.519s;
  --fall-delay: 0.229s;
}
.star:nth-child(50) {
  --star-tail-length: 6.31em;
  --top-offset: 74.61vh;
  --fall-duration: 10.195s;
  --fall-delay: 2.041s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
body {
  font-family: "Poppins" sans-serif;
}

.content {
  color: white;
}

.text-teal-light {
  color: tint-color(#20c997, 40%);
}

#nav-opacity {
  background: rgba(var(--bs-dark-rgb), 0.5) !important;
}

#mainCard {
  position: absolute;
  top: 20%;
}

/*# sourceMappingURL=style.css.map */
