body {
  background-color: #4f4e4e;
}

#app {
  position: relative;
}

.nav-link:hover {
  color: rgb(125, 154, 235) !important;
}

.background-image {
  background-image: url("/cool-background.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page-content {
  z-index: 10;
}