:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --accent-color: rgb(125, 154, 235);
}

#app {
  position: relative;
}

body {
  background-color: #4f4e4e;
}

.background-ul {
  list-style-type: none;
}

.background-ul-item:before {
  content: " ";
  display: inline-block;
  background: var(--accent-color);
  border-radius: 50%;
  border: 1px solid var(--bs-white);
  width: 24px;
  height: 24px;
  z-index: 400;
  box-shadow: 0 0 50px 0 #76ff03;
}

.nav-link:hover {
  color: rgb(125, 154, 235) !important;
}

.background-image {
  background-image: url("/cool-background.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page-content {
  z-index: 10;
}